*.iml
*.jks
.gradle
/local.properties
/keystore.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/gradle.xml
.DS_Store
/app/release
/build
/captures
.externalNativeBuild
.cxx
local.properties
